.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#texto {
  position: absolute;
  font-size: 5em;
  color: var(--clr-light);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

section {
  overflow: hidden;
}
